<!DOCTYPE html>
<html>
  <head>
    <title>阁楼阿七</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>阿七</h1>
    <p>晚安</p>
    <span style="font-size: 12px;">完蛋了, 被掌握证据了, 怎么办!!!</span>
  </body>
</html>
