<!DOCTYPE html>
<html>
  <head>
    <title>阁楼阿七</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>I am back 阿七</h1>
    <h2>最近实在是太忙了, 我还是会继续完善网站的<h2/>
  </body>
</html>
