<!DOCTYPE html>
<html>
  <head>
    <title>阁楼阿七</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>阿七</h1>
    <p>晚安</p>
    <span style="font-size: 12px;">(ps: 这周末很多事情, 还有很多功能没有加上, 先上线...)</span>
  </body>
</html>
